[submodule "submodules/light-ecs"]
	path = submodules/light-ecs
	url = https://github.com/Dyncep/light-ecs
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
